//////////////////////////////////////////////
/// UTILITIES
//////////////////////////////////////////////
//color
.orange{
    color: var(--tertiary-color);
}
.orange--accent{
    background-color: var(--tertiary-color);
}
//btn
.btn{
    margin: 1rem 0;
}
.btn-large{
    width: 7rem;
    height: 2rem;
    background-color: var(--btn-large-bg-color);
}
.btn-small{
    height: 2rem;
    width: 2rem;
    background-color: var(--btn-search-bg-color);
}
.btn-normal{
    width: clamp(9.3rem, 7.2rem + 8vw, 12.5rem);
    height: clamp(1.5rem, 0.4rem + 5.8vw, 5rem);
    background-color: var(--tertiary-color);
    padding: 0.5em;
    color: var(--primary-color);
    border-radius: var(--sm-border-radius);
}
//card
.card{
    font-family: 'DM Sans';
    margin-inline:auto;
    position: relative;
    width: clamp(10rem, 3rem + 28vw, 20rem);
    height: clamp(21.8rem, 15.6rem + 25vw, 31.2rem);
    border: 2px solid var(--alt-border-color);
    box-shadow: var(--simple-shadow);
    margin-bottom: 1rem;
    border-radius: 20px;

    &__image img{
        border-radius: 20px 20px 0 0;
        width: 100%;
        @include responsive($lg){
            height: 300px;
        }
    }
    &__info{
        padding: 0 1rem;
        font-weight: 900;
        font-size: 0.95em;
        line-height: 1.4;
        max-width:85%;
        margin-top: max(1.2rem)
    }
    &__room{
        padding-top: 1rem;
        font-size: 0.9em;
        font-weight: 300;
        color: gray;
    }
    &__price{
        font-size: clamp(1.125rem, -5.75rem + 22vw, 1.5rem);
        color: var(--tertiary-color);
    }
    &__icons ul{
        font-weight: 700;
        border-top: 1px solid var(--alt-border-color);
        margin-top: 1rem;
        position: absolute;
        inset: auto auto 0 0;
        display: flex;
        width: 100%;
        height:clamp(1rem, 0.583rem + 2.667vw, 2.25rem);
        @include responsive($lg){
            justify-content: space-evenly;
            text-align: center;
        }
        
        & > li{
            height: 100%;
            width: 100%;
            border-right: 1px solid var(--alt-border-color);
            padding-right:clamp(0.313rem, -1.625rem + 6.2vw, 2.25rem);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        :last-child{
            border: none;
        }

    }
}
//title
.title{
    font-size:1.3em;
    font-weight: 700;
}
.title--sm{
    font-size: 1em;
    font-weight: 400;
}
.title--m{
    font-size: 1.1em;
    font-weight:600;
}
.title--xl{
    font-size:1.7em;
    font-weight: 900;
}
.title--logo{
    font-size: 3em;
    font-weight: 900;
}
//random

.circle{
    display: inline-block;
    background-color: var(--secondary-color);
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin: 1rem 0.2rem; 
}

.subscript{
    vertical-align: sub;
}
.underlined{
    border-bottom: 2px solid var(--tertiary-color);
}
.icon{
    margin-right: 0.5rem;
}


//////////////////////////////////////////////
/// HEADER
//////////////////////////////////////////////
.header{
    &__top-container{
        display: flex;
        border-bottom: 1px solid var(--primary-color);
    
        @include responsive($lg){
            width: 80%;
            margin-inline: auto;
        }

    }

    &__logo img{
        width: clamp(3.313rem, -3.375rem + 22vw, 10rem);
        height: clamp(1.625rem, 0rem + 5vw, 3.125rem);
    }

    &__nav{
        margin: auto;

        & ul{
            display: flex;
            gap: clamp(1rem, -2rem + 9.6vw, 4rem)
        }
        & ul a:link, a:visited{
            color: var(--primary-color);
        }
        & ul a:hover, a:focus{
            border-bottom: 3px solid var(--primary-color);
            padding-bottom: 1rem;
        }


    }
    &__main-container{
        @include responsive($lg){
            width: 80%;
            height: 90vh;
            margin-inline: auto;
            display: flex;
            justify-content: space-between;
            align-items:center;
        }
    }

    &__text{
        font-size: clamp(2rem, 1.5rem + 1.6vw, 2.5rem);
        @include responsive($lg){
            width: 24rem;
            text-align: left;
            height: fit-content;
        }
    }
    &__map img{
        width: clamp(15.625rem, 5.75rem + 31.6vw, 25.5rem);
        height: clamp(15.625rem, 10rem + 18vw, 21.25rem);
    }
    &__dropdown{
        width: 300px;
        margin-inline:auto;
        padding: 0.5rem;
        border-radius: var(--m-border-radius);
        background-color: var(--alt-primary-color);
        width: clamp(20.625rem, 1.8rem + 34vw, 23.125rem);
    }

}
//////////////////////////////////////////////
/// MAIN
//////////////////////////////////////////////
//HERO
.hero{
    margin: 4rem 0;
    @include responsive($lg){
        text-align: left;
    }

    h2{
        line-height: 1.5;
        margin: 4rem;
        width: fit-content;
        margin-inline: auto;
    }

    &__container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__image img{
        width: clamp(15rem, 9rem + 22vw, 24rem);
        height: clamp(15rem, 4rem + 45vw, 32rem);
    }

    &__icons-container{
        display: grid;
        gap: clamp(0.313rem, -3rem + 11vw, 5rem);
        grid-template-columns: repeat(2, 1fr);
        @include responsive($lg){
            place-content: center;
            grid-template-columns: repeat(3, 0.5fr);
        }
    }

    &__icons{
        box-shadow: var(--simple-shadow);
        border-radius: var(--sm-border-radius);
        width: clamp(2rem, 0.4rem + 7vw, 4rem);
        height: clamp(2rem, 0.4rem + 7vw, 4rem);
        
    }
}
///////////////////////////////////////////
//PROPERTIES
.properties{
    background-color:var(--alt-primary-color);
    padding: 1rem 0;

    &__top{
        display: flex;
        justify-content: space-around;
        margin: 4rem 0;
        @include responsive($lg){
            width: 85vw;
            justify-content: space-between;
            margin-inline: auto;
        }
    }

    &__container{
        display: grid;
        margin-top: 1.5rem;
        grid-template-columns: repeat(2, 50%);
        gap: clamp(0.5rem,0.5vw,1rem);
        height: 1200px;

        overflow-y:auto;
        overflow-x: hidden;
        @include responsive($lg){
            width: 90%;
            height: 1000px;
            margin-inline: auto;
            grid-template-columns: repeat(3, 1fr);
        }
    }
    &__navigation{
        margin: 2rem 0;
    }
    &__navigation ul{
        background-color: var(--primary-color);
        border: 2px solid var(--alt-border-color);
        margin: auto;
        height: clamp(2.5rem, 1rem + 5.6vw, 4.6rem);
        width: clamp(12rem, 6.8rem + 20.5vw, 19.6rem);
        border-radius: var(--sm-border-radius);
        display: flex;
        justify-content: center;
        align-items: center;
    
        & li{width: 100%;height: 100%;text-align: center;}
        & button{
            display: grid;
            place-content: center;
            height: 100%;
            width: 100%;
            color: var(--tertiary-color);
        }
        & button:hover{
            color: var(--primary-color);
            background-color: var(--tertiary-color);
        }
        & button:active{
            transform: scale(1.5);
        }
        & button{
            border-right: 1px solid var(--alt-border-color);
        }
    }   
}
////////////////////////////////////////////////////
//FORM
.form{
    padding: 4rem 1rem;
    &__top{
        display: grid;
        grid-template-columns: auto;
        margin: 4rem 0;
        @include responsive($lg){
            grid-template-columns: repeat(2, 1fr);
        }
    }
    &__info{
        padding-top:3rem;
        font-size: clamp(1rem, 0.625rem + 1.5vw, 1.5rem);
        @include responsive($lg){
            line-height: 1.8;
            width: 90%;
            margin-inline: auto;
        }
    }
    &__images{
        gap: 0.5rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: fit-content;
        margin-inline: auto;

        & figure{
            position: relative;
        }
        & figure figcaption{
            position: absolute;
            inset: 25% auto auto 50%;
            transform: translate(-50%,-50%);
            text-align: center;
            color: var(--border-color);
        }  
        & figure img{
            border-radius: var(--m-border-radius);
            width: inherit;
            height: inherit;
        }
        & figure:first-of-type{
            place-self: end;
            width: clamp(1rem, 2.6rem + 20.8vw, 15.6rem);
            height: clamp(10.4rem, 3.4rem + 27.8vw, 20.8rem);
        }
        & figure:nth-of-type(2){
            place-self: end start;
            width: clamp(8.4rem, 2.8rem + 22.5vw, 16.8rem);
            height: clamp(8.4rem, 2.8rem + 22.5vw, 16.8rem);
        }

        & figure:nth-of-type(3){
            place-self:start end;
            width: clamp(6.6rem, 1.1rem + 17.6vw, 13.25rem);
            height: clamp(8.8rem, 2.9rem + 23.8vw, 17.8rem);
        }

        & figure:last-of-type{
            width: clamp(10.5rem, 3.5rem + 28vw, 21rem);
            height: clamp(11rem, 3.7rem + 29.6vw, 22rem);
        }
      
    }
}
//////////////////////////////////////////////////
//SIGNIN
.hidden{
    visibility: hidden;
    display: none;
}
.modal{
    display: flex;
    font-family: cursive;
    color:var(--primary-color);
    background-color: #333;
    width: fit-content;
    margin-inline: auto;
    padding: 0.3rem;
    border-radius: 10px;
    position: absolute;
}
.modal--animated{
    animation: animatebottom 0.5s ease-in;
}
@keyframes animatebottom{
    0%{transform: translateY(-60px);}
}

.signin{
    margin: 1rem;
    border: 1px solid var(--border-color);
    padding-inline:1rem;
    @include responsive($lg){
        text-align: left;
    }

    & fieldset:first-of-type{
        @include responsive($lg){
            display: grid;
            grid-template-columns: repeat(3,1fr);
        }
    }

    &__title{
        @include responsive($lg){
            width: fit-content;
            margin-inline: auto;
            font-size: 1.5em;
        }
    }
    & legend{
        width: fit-content;
        margin-inline: auto;
        padding: clamp(1rem, -0.3rem + 5.3vw, 3rem);
        color: var(--tertiary-color);
    }

    input, select{
        width: 90%;
        margin-bottom: 1rem;
        padding: 1rem;
        background-color: var(--alt-primary-color);
        border-radius: var(--sm-border-radius);
    }

    & input[type=file]{
        border: dashed 2px var(--tertiary-color);
        text-align: center;
    }

    &__btn__container{
        @include responsive($lg){
            text-align: center;
        }
     }
}

/////////////////////////////////////////////////
/// ABOUT
.about{
    background-color: var(--alt-tertiary-color);
    @include responsive($lg){
        display: flex;
        justify-content: space-between;
    }

    &__info{
        font-size: clamp(1rem, 0.7rem + 1.3vw, 1.5rem);
        @include responsive($lg){
            line-height: 2;
            width: 30%;
            height: fit-content;
            margin: auto;
        }
    }

    &__text{
        position: relative;
        line-height: 1.5;

        &::before{
            z-index: -1;
            content: open-quote;
            position: absolute;
            inset: auto auto 40px auto;
            color: var(--tertiary-color);
            font-size: clamp(6rem, 2rem + 10.6vw, 10rem);
            @include responsive($lg){
                inset: auto 400px 120px auto;
            }
        }

    }
    
    &__img{
        margin: 1rem 0;
        display: flow-root;
        & img{
            float: left;
            margin-right:1rem;
        }
    }

    &__picture img{
        width: 100%;
        @include responsive($lg){
            width: 638px;
            height: 590px;
        }
    }
}


//////////////////////////////////////////////
/// FOOTER
//////////////////////////////////////////////
.footer{
    
    &__row-1{
        padding-top: 3rem;
        display: flex;
        gap: 0.8rem;
        justify-content: space-evenly;
        width: 90%;
        margin-inline: auto;
    }

    &__icons{
        div{
            margin-bottom: 1rem;
        }
        & div:nth-of-type(2){
            @include responsive($lg){
            display: flex;
            justify-content: space-between;
        }
        }
    }

    &__row-2{
        padding-top: 2rem;
        display: flex;
        flex-flow: column wrap;
        width: 85%;
        margin-inline: auto;
        gap: 0.3rem;

        @include responsive($lg){
            flex-flow: row wrap;
            justify-content: space-between;
            width: 70%;
        }
    }

    &__about{
        @include responsive($lg){
            display: flex;
            gap: 2rem;
        }
    }
}