//////////////////////////////////////////////
/// UTILITIES
//////////////////////////////////////////////
//color
.orange{
    color: var(--tertiary-color);
}
.orange--accent{
    background-color: var(--tertiary-color);
}

//btn
.btn{
    margin: 1rem 0;
}
.btn-large{
    width: 7rem;
    height: 2rem;
    background-color: var(--btn-large-bg-color);
}
.btn-small{
    height: 2rem;
    width: 2rem;
    background-color: var(--btn-search-bg-color);
}
.btn-normal{
    background-color: var(--tertiary-color);
    padding: 0.5em;
    color: var(--primary-color);
    border-radius: var(--sm-border-radius);
}
//card
.card{
    font-family: 'DM Sans';
    margin-inline:auto;
    width: 250.73px;
    height: 300.2px;
    @include responsive($lg){
        width: 300px;
        height: 450px;
    }
    border: 2px solid var(--alt-border-color);
    box-shadow: var(--simple-shadow);
    margin-bottom: 1rem;
    border-radius: 30px 30px 0 0;
    position: relative;

    &__image img{
        width: 100%;
        @include responsive($lg){
            height: 50%;
        }
    }
    &__info{
        padding: 0 1rem;
        font-weight: 900;
        font-size: 0.95em;
        line-height: 1.4;
        @include responsive($lg){
            margin-top: 1rem;
            width: 70%;
        }
    }
    &__type{
        padding-top: 1rem;
        font-size: 0.9em;
        font-weight: 300;
        color: gray;
    }
    &__price{
        font-size:1.13em;
        @include responsive($lg){
            font-size: 1.5em;
        }
        color: var(--tertiary-color);
    }
    &__icons ul{
        font-weight: 700;
        border-top: 1px solid var(--alt-border-color);
        margin-top: 1rem;
        position: absolute;
        inset: auto auto 0 0;
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        @include responsive($lg){
            text-align: center;
            height: 10%;
        }
        
        & > li{
            height: 100%;
            width: 100%;
            border-right: 1px solid var(--alt-border-color);
            padding-right: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        :last-child{
            border: none;
        }

    }
}
//title
.title{
    font-size:1.3em;
    font-weight: 700;
}
.title--sm{
    font-size: 1em;
    font-weight: 400;
}
.title--m{
    font-size: 1.1em;
    font-weight:600;
}
.title--xl{
    font-size:1.7em;
    font-weight: 900;
}
.title--logo{
    font-size: 3em;
    font-weight: 900;
}
//random

.circle{
    display: inline-block;
    background-color: var(--secondary-color);
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin: 1rem 0.2rem; 
}

.subscript{
    vertical-align: sub;
}
.underlined{
    border-bottom: 2px solid var(--tertiary-color);
}
.icon{
    margin-right: 0.5rem;
}


//////////////////////////////////////////////
/// HEADER
//////////////////////////////////////////////
.header{
    &__top-container{
        display: flex;
        border-bottom: 1px solid var(--primary-color);
    
        @include responsive($lg){
            width: 80%;
            margin-inline: auto;
        }

    }

    &__logo img{
        @include responsive($lg){
            width: 160px;
            height: 50px;
        }
    }

    &__nav{
        margin: auto;

        & ul{
            display: flex;
            gap: 1rem;

            @include responsive($lg){
                gap: 4rem;
            }

        }
        & ul a:link, a:visited{
            color: var(--primary-color);
        }
        & ul a:hover, a:focus{
            border-bottom: 3px solid var(--primary-color);
            padding-bottom: 1rem;
        }


    }
    &__main-container{
        @include responsive($lg){
            width: 80%;
            height: 90vh;
            margin-inline: auto;
            display: flex;
            justify-content: space-between;
            align-items:center;
        }
    }

    &__text{
        font-size: 2em;
        @include responsive($lg){
            width: 24rem;
            text-align: left;
            height: fit-content;
            font-size: 2.5em;
        }
    }
    &__map img{
        @include responsive($lg){
          width: 408px;
          height: 340px;  
        }
    }
    &__dropdown{
        width: 300px;
        margin-inline:auto;
        padding: 0.5rem;
        border-radius: var(--m-border-radius);
        background-color: var(--alt-primary-color);
        @include responsive($lg){
            width: 370px;
        }
    }

}
//////////////////////////////////////////////
/// MAIN
//////////////////////////////////////////////
//HERO
.hero{
    @include responsive($lg){
        text-align: left;
    }

    h2{
        line-height: 1.5;
    }

    &__container{
        @include responsive($lg){
            display: flex;
        }
    }

    &__icons{
        display: grid;
        row-gap: 1rem;
        grid-template-columns: repeat(3, 0.5fr);
        @include responsive($lg){
            place-content: center;
            gap: 4rem;
        }

        & figure img{
            box-shadow: var(--simple-shadow);
            border-radius: var(--sm-border-radius);
            @include responsive($lg){
                width: 77px;
                height: 77px;
                padding: 1rem;
            }
        }
    }

    &__image img{
        @include responsive($lg){
            width: 387px;
            height: 521px;
        }
    }
}
///////////////////////////////////////////
//PROPERTIES
.properties{
    background-color:var(--alt-primary-color);
    padding: 1rem 0;

    &__top{
        display: flex;
        justify-content: space-around;
        @include responsive($lg){
            width: 85vw;
            justify-content: space-between;
            margin-inline: auto;
            margin-bottom: 2rem;
        }
        button{
            @include responsive($lg){
                width: 200px;
                height: 65px;
            }
        }
    }

    &__main{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        @include responsive($lg){
            gap: 5rem;
            grid-template-columns: repeat(3, 1fr);
            width: fit-content;
            margin-inline: auto;
        }
    }

    &__navigation ul{
        background-color: var(--primary-color);
        border: 2px solid var(--alt-border-color);
        margin-inline: auto;
        height: 2.5rem;
        width: 12rem;
        border-radius: var(--sm-border-radius);
        display: flex;
        justify-content: center;
        align-items: center;
        
        @include responsive($lg){
            width: 315px;
            height: 74px;
            margin: 3rem auto;
        }
        & li{width: 100%;height: 100%;text-align: center;}
        & a:link, a:visited{
            display: grid;
            place-content: center;
            height: 100%;
            width: 100%;
            color: var(--tertiary-color);
        }
        & a:hover, a:focus{
            color: var(--primary-color);
            background-color: var(--tertiary-color);
        }
        & :not(:last-child){
            border-right: 1px solid var(--alt-border-color);

        }
    }   
}
////////////////////////////////////////////////////
//FORM
.form{
    padding: 4rem 1rem;
    &__top{
        display: grid;
        grid-template-columns: auto;
        @include responsive($lg){
            grid-template-columns: repeat(2, 1fr);
            padding: 7rem 0;
        }
    }
    &__info{
        padding-top:3rem;
        @include responsive($lg){
            line-height: 1.8;
            width: 50%;
            margin: auto;

            .btn{
                width: 185px;
                height: 63px;
            }
        }
    }
    &__images{
        gap: 0.5rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: fit-content;
        margin-inline: auto;

        & figure{
            position: relative;
        }
        & figure figcaption{
            position: absolute;
            inset: 25% auto auto 50%;
            transform: translate(-50%,-50%);
            text-align: center;
            color: var(--border-color);
        }  
        & figure img{
            border-radius: var(--m-border-radius);
            width: inherit;
            height: inherit;
        }
        & figure:first-of-type{
            place-self: end;
            width: 125px;
            height: 167px;
            @include responsive($lg){
                width: 250px;
                height: 334px;
            }
        }
        & figure:nth-of-type(2){
            place-self: end start;
            width: 135px;
            height: 135px;
            @include responsive($lg){
                width: 270px;
                height: 270px;
            }
        }

        & figure:nth-of-type(3){
            place-self:start end;
            width: 106px;
            height: 142px;
            @include responsive($lg){
                width: 212px;
                height: 285px;
            }
        }

        & figure:last-of-type{
            width: 169px;
            height: 178px;
            @include responsive($lg){
                width: 338px;
                height: 356px;
            }
        }
      
    }
}
//////////////////////////////////////////////////
//SIGNIN

.signin{
    margin: 1rem;
    border: 1px solid var(--border-color);
    @include responsive($lg){
        text-align: left;
        padding-inline:3rem;
        label{
            padding: 0.5rem 0;
            font-size: 1.2em;
        }
    }
    & fieldset:first-of-type{
        @include responsive($lg){
            display: grid;
            grid-template-columns: repeat(3,1fr);
        }
    }

    &__title{
        @include responsive($lg){
            width: fit-content;
            margin-inline: auto;
            font-size: 1.5em;
        }
    }
    & legend{
        width: fit-content;
        margin-inline: auto;
        padding: 1rem;
        color: var(--tertiary-color);
        @include responsive($lg){
            padding: 3rem ;
        }
    }

    input, select, textarea{
        width: 90%;
        margin-bottom: 1rem;
        padding: 1rem;
        background-color: var(--alt-primary-color);
        border-radius: var(--sm-border-radius);
    }

    & textarea{
        border: dashed 2px var(--tertiary-color);
        text-align: center;
        @include responsive($lg){
        
        }
    }

    &__btn__container{
        @include responsive($lg){
            text-align: center;
        }
     }
    & .btn{
        width: 15rem;
        @include responsive($lg){
        width: 513px;
        height: 69px;
        }
    }
}

/////////////////////////////////////////////////
/// ABOUT
.about{
    background-color: var(--alt-tertiary-color);
    @include responsive($lg){
        display: flex;
        justify-content: space-between;
    }

    &__info{
        @include responsive($lg){
            line-height: 2;
            width: 30%;
            height: fit-content;
            margin: auto;
        }
    }

    &__text{
        position: relative;
        line-height: 1.5;

        &::before{
            z-index: -1;
            content: open-quote;
            position: absolute;
            inset: auto auto 40px auto;
            color: var(--tertiary-color);
            font-size: 6em;
            @include responsive($lg){
                font-size: 10em;
                bottom: 0;
                right: 400px;
            }
        }

    }
    
    &__img{
        margin: 1rem 0;
        display: flow-root;
        & img{
            float: left;
            margin-right:1rem;
        }
    }

    &__picture img{
        width: 100%;
        @include responsive($lg){
            width: 638px;
            height: 590px;
        }
    }
}


//////////////////////////////////////////////
/// FOOTER
//////////////////////////////////////////////
.footer{
    
    &__row-1{
        padding-top: 3rem;
        display: flex;
        gap: 0.8rem;
        justify-content: space-evenly;
        width: 90%;
        margin-inline: auto;
    }

    &__icons{
        @include responsive($lg){
            div{
                margin-bottom: 1rem;
            }

            & div:nth-of-type(2){
                display: flex;
                justify-content: space-between;
            }
        }
    }

    &__row-2{
        padding-top: 2rem;
        display: flex;
        flex-flow: column wrap;
        width: 85%;
        margin-inline: auto;
        gap: 0.3rem;

        @include responsive($lg){
            flex-flow: row wrap;
            justify-content: space-between;
            width: 70%;
        }
    }

    &__about{
        @include responsive($lg){
            display: flex;
            gap: 2rem;
        }
    }
}